SUPABASE_URL=https://tdytxjfwugidmdcuytik.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRkeXR4amZ3dWdpZG1kY3V5dGlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyNjAxNzEsImV4cCI6MjEwMzgzNjE3MX0.4W2_peRpuMFKLIb0h8JkIHFrIkylCv3KN5y3ZJjMuP8
